@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.woff2") format("woff2")
    url("../fonts/Roboto-Light.woff") format("woff");
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: "Playfair Display";
    src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", "Arial", sans-serif;
    background-color: #f7cd75;
}
.container{
    max-width: 800px;
    margin: 70px auto;
}
.site{
    width: 100%;
    height: 450px;
    background-color: #fff;
}
.site__wallets{
    width: 330px;
    height: 100%;
    padding: 20px  40px 0;
    overflow: hidden;
    background-color: #f2f2f2;
}
.site__wallets:hover{
    overflow: auto;
}
.wallets__heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.visa-cards__link{
    display: inline-block;
    width: 100%;
    margin: 10px auto;
    padding: 0 20px;
    line-height: 1;
    text-decoration: none;
    background-color: #fff;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}
.visa-cards__link:hover{
    border-color: skyblue;
}
.link__stars{
    margin: 0;
    color: grey;
}
.link__text{
    font-size: 15px;
    color: grey;
}
